<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <title>CategoryController</title>
    </head>

<body>
<main>
    <h1>Liste des catégories</h1>
    <table>
        <thead>
            <tr>
                <th>Titre</th>
                <th>Description</th>
                <th>Date de création</th>
                <th>Date de modification</th>
                <th>Publié</th>
                
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
            <tr>
                <td>{{ category.title }}</td>
                <td>{{ category.description }}</td>
                <td>{{ category.createdAt|date('Y-m-d H:i:s') }}</td>
                <td>{{ category.updatedAt|date('Y-m-d H:i:s') }}</td>
                <td>{{ category.isPublished|date('Y-m-d H:i:s') }}</td>
                
                <td><a href="{{ path('category', {'id': category.id}) }}">Afficher la catégorie</a></td>
            </tr>
            {% endfor %}
        </tbody>

  
</main>
</body>
</html>
