{% extends 'base.html.twig' %}

{% block title %}Liste des produits{% endblock %}



{% block main %}
<body>
    <main>
        <h1>Voici Tous les produits</h1>

        <table>
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Description</th>
                    <th>Prix</th>
                    <th>date de création</th>
                    <th>date de modification</th>
               </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td>{{ product.title }}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.createdAt|date('Y-m-d H:i:s') }}</td>
                    <td>{{ product.updatedAt|date('Y-m-d H:i:s') }}</td>
                    <td><a href="{{ path('show-product', {'id': product.id}) }}">Afficher le produit</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </main>
    </body>
    {% endblock %}
</html>