{% extends 'guest/base.html.twig' %}

{% block metatitle %}
	Vacances ou bouffes | Résultats de recherche des produits
{% endblock metatitle %}

{% block main %}

	<h1>Résultats de recherche pour "{{ search }}" : </h1>

	{% for product in productsFound %} 

		<article>

			<h2>{{ product.title }}</h2>
			<p>{{ product.description }}</p>
			<p>Categorie : {{ product.category.title }}</p>
			
			<a href="{{ path('details-product', {'id' : product.id}) }}">Voir le produit</a>

		</article>

	{% endfor %}
{% endblock main %}