{% extends 'admin/base.html.twig' %}


{% block metatitle %}
	Vacances ou bouffes | Liste des produits
{% endblock metatitle %}

{% block main %}
<h1>Liste des produits</h1>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Titre</th>
            <th>Prix</th>
            <th>Catégorie</th>
            <th>Date de création</th>
            <th>Date de modification</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td>{{ product.id }}</td>
            <td>{{ product.title }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.category.title }}</td>
            <td>{{ product.createdAt |date('d/m/Y H:i:s') }}</td>
            <td>{{ product.updatedAt |date('d/m/Y H:i:s') }}</td>
            <td>
                <a href="{{ path('admin-delete-product', { 'id' : product.id }) }}">Supprimer</a>
                <a href="{{path('admin-update-product', {'id' : product.id})}}">Modifier</a>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock main %}