{% extends 'admin/base.html.twig' %}

{% block metatitle %}
	Vacances ou bouffes | Liste des produits
{% endblock metatitle %}

{% block main %}

	<h1>Modifier un produit</h1>

	<form method="POST">
		<label for="title">Titre
			<input type="text" name="title" value="{{product.title}}">
		</label>

		<label for="description">Description
			<input type="text" name="description" value="{{product.description}}">
		</label>

		<label for="price">Prix
			<input type="number" name="price" value="{{product.price}}">
		</label>

		<label for="is-published">Publié le
			<input type="checkbox" name="is-published" value="{{product.isPublished}}">
		</label>


		<select name="category-id">
			{% for category in categories %}
				{% if category.id == product.category.id %} {# Si la catégorie est la même que celle du produit, je l'affiche comme sélectionnée #}
					<option selected="selected" value="{{ category.id }}">{{ category.title }}</option>
				{% else %}
					<option value="{{ category.id }}">{{ category.title }}</option>  {# Sinon, j'affiche la catégorie #}
				{% endif %}
			{% endfor %}
		</select>

		<button type="submit">Modifier le produit</button>


	</form>

{% endblock %}